<%- include('../partials/header') %>

  <div id="form-main">
    <h1>Edit <%= spell.name %></h1>
    
    <div id="spell-form-container">
      <%- include('../partials/messages') %>

      <form action="/spells/<%= spell._id %>?_method=PUT" method="POST">

        <div class="form-group">
          <label class="form-group-label" for="spell-name">Name:</label>
          <input
            id="spell-name"
            type="text"
            value="<%= spell.name %>"
            name="name"
          >
        </div>

        <div class="form-group">
          <label class="form-group-label" for="spell-schools">School:</label>
          <select id="spell-schools" name="school">
            <option
              <%= spell.school === 'abjuration' ? 'selected' : '' %>
              value="abjuration">Abjuration</option>
            <option
              <%= spell.school === 'conjuration' ? 'selected' : '' %>
              value="abjuration">Conjuration</option>
            <option 
              <%= spell.school === 'divination' ? 'selected' : '' %>
              value="divination">Divination</option>
            <option
              <%= spell.school === 'enchantment' ? 'selected' : '' %>
              value="enchantment">Enchantment</option>
            <option
              <%= spell.school === 'evocation' ? 'selected' : '' %>
              value="evocation">Evocation</option>
            <option
              <%= spell.school === 'illusion' ? 'selected' : '' %>
              value="illusion">Illusion</option>
            <option
              <%= spell.school === 'necromancy' ? 'selected' : '' %>
              value="necromancy">Necromancy</option>
            <option
            <%= spell.school === 'transmutation' ? 'selected' : '' %>
              value="transmutation">Transmutation</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-group-label" for="spell-levels">Level:</label>
          <select id="spell-levels" name="level">
            <option
              <%= spell.level === '0th' ? 'selected' : '' %>
              value="0th">Cantrip</option>
            <option
              <%= spell.level === '1st' ? 'selected' : '' %>
              value="1st">1</option>
            <option
              <%= spell.level === '2nd' ? 'selected' : '' %>
              value="2nd">2</option>
            <option
              <%= spell.level === '3rd' ? 'selected' : '' %>
              value="3rd">3</option>
            <option
              <%= spell.level === '4th' ? 'selected' : '' %>
              value="4th">4</option>
            <option
              <%= spell.level === '5th' ? 'selected' : '' %>
              value="5th">5</option>
            <option
              <%= spell.level === '6th' ? 'selected' : '' %>
              value="6th">6</option>
            <option
              <%= spell.level === '7th' ? 'selected' : '' %>
              value="7th">7</option>
            <option
              <%= spell.level === '8th' ? 'selected' : '' %>
              value="8th">8</option>
            <option
              <%= spell.level === '9th' ? 'selected' : '' %>
              value="9th">9</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-group-label" for="spell-time">Casting Time:</label>
          <input
            id="spell-time"
            type="text"
            value="<%= spell.time %>"
            name="time">
        </div>

        <div class="form-group">
          <label class="form-group-label" for="spell-range">Range:</label>
          <input
            id="spell-range"
            type="text"
            value="<%= spell.range %>"
            name="range">
        </div>

        <div class="form-group">
          <span class="form-group-label" id="spell-components">Components:</span>
          <div class="checkbox-group">
            <input
              id="verbal"
              type="checkbox"
              name="components[]"
              <%= spell.components.indexOf('v') === -1 ? '' : 'checked' %>
              value="v"><label for="verbal">V</label>
            <input
              id="somatic"
              type="checkbox"
              name="components[]"
              <%= spell.components.indexOf('s') === -1 ? '' : 'checked' %>
              value="s"><label for="somatic">S</label>
            <input
              id="material"
              type="checkbox"
              name="components[]"
              <%= spell.components.indexOf('m') === -1 ? '' : 'checked' %>
              value="m"><label for="material">M</label>
          </div>
          <input
            <%- spell.material ?
              `value="${ spell.material }"` :
              `placeholder="powdered rhubarb leaf and an adder's stomach"`
            %>
            id="spell-material"
            type="text"
            name="material"
          >
        </div>

        <div class="form-group">
          <label class="form-group-label" for="spell-duration">Duration:</label>
          <div class="checkbox-group">
            <input
              id="concentration"
              type="checkbox"
              name="concentration"
              <%= spell.concentration === 'on' ? 'checked' : '' %>
            ><label for="concentration">Concentration</label>
          </div>
          <input id="spell-duration" type="text" value="<%= spell.duration %>" name="duration">
        </div>

        <div class="form-group-textarea">
          <label for="spell-desc">Description:</label>
          <textarea
            id="spell-desc"
            cols="30"
            rows="10"
            name="desc"><%= spell.desc %></textarea>
        </div>

        <div class="form-group-textarea">
          <label for="spell-higher-level">At Higher Level:</label>
          <textarea
            id="spell-desc"
            cols="30"
            rows="5"
            name="higherLevel"><%= spell.higherLevel %></textarea>
        </div>

        <div class="form-group">
          <button class="button button-confirm" id="submit-button" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>

  <%- include('../partials/footer') %>