<%- include('../partials/header') %>

  <div id="spells-main">
    <h1>My Spells</h1>
    <%- include('../partials/messages') %>

    <% for (let level = 0; level <= 9; level++) { %>
      <h2><% switch (level) {
          case 0: %>
            Cantrips
            <% break;
          case 1: %>
            1st-Level
            <% break;
          case 2: %>
            2nd-Level
            <% break;
          case 3: %>
            3rd-Level
            <% break;
          default: %>
            <%= level %>th-Level
      <% } %></h2>

      <div class="spells-container">
        <% for (let spell = 0; spell < spells.length; spell++) { %>
          <% if (Number(spells[spell].level.charAt(0)) === level) { %>
            <div class="spell-card">
              <div class="spell-card-content-container">
                <div class="spell-card-name-container">
                  <h3><%= spells[spell].name %></h3>
                  <span class="spell-card-hidden" href="#">&#x25BC;</span>
                </div>

                <div class="spell-card-info-container hidden">
                  <p><em><%=
                    spells[spell].level === '0th' ?
                      `${spells[spell].school} cantrip` :
                      `${spells[spell].level}-level ${spells[spell].school}`
                  %></em></p>
  
                  <p><strong>Casting Time:</strong> <%=
                    spells[spell].time
                  %></p>
  
                  <p><strong>Range:</strong> <%=
                    spells[spell].range
                  %></p>
  
                  <p><strong>Components:</strong> <%=
                    spells[spell].components.join(', ').toUpperCase()
                  %> <%=
                    spells[spell].material ?
                      `(${spells[spell].material})` :
                      ''
                  %></p>
  
                  <p><strong>Duration:</strong> <%=
                    spells[spell].concentration === 'on' ?
                      `Concentration, ${spells[spell].duration}` :
                      `${spells[spell].duration}`
                  %></p>
  
                  <p><%= spells[spell].desc %></p>
  
                  <% if (spells[spell].higherLevel) { %>
                    <p><strong>At Higher Levels.</strong> <%=
                      spells[spell].higherLevel
                    %></p>
                  <% } %>

                  <div class="spell-card-actions-container">
                    <a class="button button-more" href="/spells/<%= spells[spell]._id %>/edit">Edit</a>
                    <form class="delete-form" action="/spells/<%= spells[spell]._id %>?_method=DELETE" method="post">
                      <input class="button button-danger" type="submit" value="Delete">
                    </form>
                  </div>
                </div>

              </div>
            </div>
          <% } %>
        <% } %>
      </div>

    <% } %>
  </div>

  <script src="/js/main.js"></script>
  <%- include('../partials/footer') %>