<%- include('./partials/header') %>

  <div id="spells">
    <h1>My Spells</h1>
    <div id="spells-container">
      <% for (let i = 0; i < customSpells.length; i++) { %>
        <div class="spell-card">
          <h3><%= customSpells[i].name %></h3>
          <p><em>
            <%= 
              customSpells[i].level === 'cantrip' ?
                `${customSpells[i].school} cantrip` :
                `${customSpells[i].level}-level ${customSpells[i].school}`
            %>
          </em></p>
          <p>Casting Time: <%= customSpells[i].time %></p>
          <p>Range: <%= customSpells[i].range %></p>
          <p>Components: 
            <%=
              customSpells[i].components.join(', ').toUpperCase()
            %>
            <%=
              customSpells[i].material ?
                `(${customSpells[i].material})` :
                ''
            %>
          </p>
          <p>Duration: 
            <%=
              customSpells[i].concentration ?
                `Concentration, ${customSpells[i].duration}` :
                `${customSpells[i].duration}`
            %>
          </p>

          <p><%= customSpells[i].desc %></p>
        </div>
      <% } %>
    </div>
  </div>

  <div>
    <h2>Update Spell</h2>
    <p>Replace first spell that isn't <em>magic missile</em> with <em>magic missile</em>.</p>
    <button id="update-button">Update</button>
  </div>

  <div>
    <h2>Delete Spell</h2>
    <p>Remove the first <em>magic missile</em> spell. Does nothing if there are no more <em>magic missile</em> spells.</p>
    <button id="delete-button">Delete</button>
  </div>

  <div id="message"></div>

  <script src="/js/main.js"></script>
  <%- include('./partials/footer') %>