<%- include('./partials/header') %>

  <div id="spells">
    <h1>My Spells</h1>

    <% for (let level = 0; level <= 9; level++) { %>
      <h2><% switch (level) {
          case 0: %>
            Cantrips
            <% break;
          case 1: %>
            1st-Level
            <% break;
          case 2: %>
            2nd-Level
            <% break;
          case 3: %>
            3rd-Level
            <% break;
          default: %>
            <%= level %>th-Level
      <% } %></h2>

      <div class="spells-container">
        <% for (let spell = 0; spell < customSpells.length; spell++) { %>
          <% if (Number(customSpells[spell].level.charAt(0)) === level) { %>
            <div class="spell-card">
              <div class="spell-card-content-container">
                <h3><%= customSpells[spell].name %></h3>

                <p><em><%=
                  customSpells[spell].level === '0th' ?
                    `${customSpells[spell].school} cantrip` :
                    `${customSpells[spell].level}-level ${customSpells[spell].school}`
                %></em></p>

                <p><strong>Casting Time:</strong> <%=
                  customSpells[spell].time
                %></p>

                <p><strong>Range:</strong> <%=
                  customSpells[spell].range
                %></p>

                <p><strong>Components:</strong> <%=
                  customSpells[spell].components.join(', ').toUpperCase()
                %> <%=
                  customSpells[spell].material ?
                    `(${customSpells[spell].material})` :
                    ''
                %></p>

                <p><strong>Duration:</strong> <%=
                  customSpells[spell].concentration ?
                    `Concentration, ${customSpells[spell].duration}` :
                    `${customSpells[spell].duration}`
                %></p>

                <p><%= customSpells[spell].desc %></p>

                <% if (customSpells[spell].higherLevel) { %>
                  <p><strong>At Higher Levels.</strong> <%=
                    customSpells[spell].higherLevel
                  %></p>
                <% } %>
              </div>

              <div class="spell-card-actions-container">
                <a class="button" href="/spells/<%= customSpells[spell]._id %>/edit">Edit</a>
              </div>
            </div>
          <% } %>
        <% } %>
      </div>

    <% } %>
  </div>

  <div>
    <h2>Update Spell</h2>
    <p>Replace first spell that isn't <em>magic missile</em> with <em>magic missile</em>.</p>
    <button id="update-button">Update</button>
  </div>

  <div>
    <h2>Delete Spell</h2>
    <p>Remove the first <em>magic missile</em> spell. Does nothing if there are no more <em>magic missile</em> spells.</p>
    <button id="delete-button">Delete</button>
  </div>

  <div id="message"></div>

  <script src="/js/main.js"></script>
  <%- include('./partials/footer') %>