<%- include('../partials/header') %>

  <div id="spells-main">
    <h1>Search for a Spell</h1>
    <%- include('../partials/messages') %>

    <div id="search-form-container">
      <form method="GET">
        <div class="form-group">
          <label class="form-group-label" for="spell-levels">Filter by Level:</label>
          <select id="spell-levels" name="level">
            <option value="">All Levels</option>
            <option value="Cantrip">Cantrip</option>
            <option value="1st-level">1</option>
            <option value="2nd-level">2</option>
            <option value="3rd-level">3</option>
            <option value="4th-level">4</option>
            <option value="5th-level">5</option>
            <option value="6th-level">6</option>
            <option value="7th-level">7</option>
            <option value="8th-level">8</option>
            <option value="9th-level">9</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-group-label" for="spell-classes">Filter by Class:</label>
          <select id="spell-classes" name="class">
            <option value="">All Classes</option>
            <option value="Bard">Bard</option>
            <option value="Cleric">Cleric</option>
            <option value="Druid">Druid</option>
            <option value="Paladin">Paladin</option>
            <option value="Ranger">Ranger</option>
            <option value="Sorcerer">Sorcerer</option>
            <option value="Warlock">Warlock</option>
            <option value="Wizard">Wizard</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-group-label" for="spell-schools">Filter by School:</label>
          <select id="spell-schools" name="school">
            <option value="">All Schools</option>
            <option value="Abjuration">Abjuration</option>
            <option value="Conjuration">Conjuration</option>
            <option value="Divination">Divination</option>
            <option value="Enchantment">Enchantment</option>
            <option value="Evocation">Evocation</option>
            <option value="Illusion">Illusion</option>
            <option value="Necromancy">Necromancy</option>
            <option value="Transmutation">Transmutation</option>
          </select>
        </div>

        <div class="form-group">
          <button class="button button-more" id="submit-button" type="submit">Search</button>
        </div>
      </form>
    </div>

    <div id="search-results-container">
      <ul>
        <% if (typeof foundSpells !== 'undefined') { %>
          <% for (let spell = 0; spell< foundSpells.length; spell++) { %>
            <li><%= foundSpells[spell].name %> - <%= foundSpells[spell].school %> - <%= foundSpells[spell].class %></li>
          <% } %>
        <% } %>
      </ul>
    </div>
  </div>

<%- include('../partials/footer') %>